
@import  url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap' );

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Secular+One&display=swap');
*{
    margin: 0; 
    padding: 0;
}


fieldset{
    border:0;
    
}

button{
    border-radius: 30px;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}


.botao{
    font-size:0.9rem;
    background: 	#0a974f;
    border: 2px;
    margin-bottom: 5em;
    color: #ffffff;
    padding: 0.4rem;
    margin-top:2rem;
    position:absolute;
    top: 120%;
    left: 47%;
    transform: translate(-50%, -50px) ;
    width: 45%;
    height: 14%;
    font-family: "Poppins", sans-serif;
    
    
}

.botao:hover{
    background: #2F4F4F;
    
}

.botao{
    cursor: pointer;
}


.formulario .aplicacao{
    position: relative;
}

.campo1{
    position: relative;
}

form .campo1{
    margin-bottom: 1.5rem;
}

.campo1 .underline::before{
    content:'';
    position: absolute;
    height: 1px;
    width: 70%;
    bottom: -5px;
    left: 0;
    background:  #0a974f;
    
}

.campo1 input[type="text"]{
    width: 70%;
}
.campo1 input[type="email"]{
    width: 70%;
}
.teste { 
    width: 27%;
    border:0;
    
}

.hj{
    position: absolute;
    margin-bottom: 1.5rem;
    
}
.campo1 .underline::after{
    content:'';
    position: absolute;
    height: 1px;
    width: 70%;
    bottom: -5px;
    left: 0;
    background: #8faeae;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin:left;
    
}
.campo1 input:focus ~ .underline::after{
    transform: scaleX(1);
}

.campo1 input{
    outline: none;
    font: 0.9rem;
}

.campo1 > select{
    width: 70%;
}
.campo1 input::placeholder{
    color: #2F4F4F;
    font-family: "Poppins", sans-serif;
    font: 0.9rem;
    
}

.campo1 > option{
    width: 30%;
}

form select{
    outline: none;
    font-family: "Poppins", sans-serif;
    font: 0.9rem;
    color: #2F4F4F;
    width: 30%;
}

.mudar1{
    font: 0.9rem;
    font-family: "Poppins", sans-serif;
    color: #0a974f;
    
}
.mudar2{
    font: 0.9rem;
    font-family: "Poppins", sans-serif;
    color: #2F4F4F;
}



.container{
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor:pointer;
    font-size: 0.9rem;
}

.container input{
    opacity:0;
    cursor:pointer;
    font-size: 0.9rem;
}
.checkmark{
    left:0;
    top:0;
    width:20px;
    height: 20px;
    background-color: #eee;
    position: absolute;
}

.container input:checked ~ .checkmark{
    background: #2F4F4F;
}

.container .checkmark:after{
    top:3px;
    left:9px;
    width:3px;
    height:10px;
    border:solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark:after{
    content:"";
    position: absolute;
    display:none;
}

.aplicacao .aplica{
    position: absolute;
    top:20px;
    display: flex;
    align-items: center;
}

.alinha{
    padding-left: 2px;
}

.linha{
    padding-left: 10px;
}

.container input:checked ~.checkmark:after{
    display:block;
}

.aplicacao input[type="radio"] {
    appearance: none;
    border: 1px solid #BBC1C1;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    
}

.aplicacao input[type="radio"]:checked {
    display: flex;
    align-items: center;
    background-image: radial-gradient(white 35%, #2F4F4F 40%);
}

.mudar3 label {
    align-items: center;
    padding-left: 3px;
    font: 0.9rem;
    font-family: "Poppins", sans-serif;
    color: #2F4F4F;
}

/*essa parte aqui */
.tudo{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #1B2029;
}

.partedparte{
    background-color: white;
    width: 120%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left:14%;
    
}

.partedparte::before{
    content:"";
    position: absolute;
    background-color: #0a974f;
    width: 50%;
    height: 100%;
    
    
}

.parte2{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.formulario{
    
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 150px;
    left: 820px;
    
    font: 0.9rem;
    font-family: "Poppins", sans-serif;
    color: #2F4F4F;
}

.t{
    color: #0a974f; 
    margin-top: 2px;;
}
.tj{
    margin-top: 10px;;
}

.parte1{
    color: white;
    position:absolute;
    top: 180px;
    left: 320px;
    font-family: "Secular One", sans-serif;
    font-size: 1.7rem;
    
    
}

.p{
    color: white;
    position:absolute;
    top: 60px;
    left: 1px;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    align-items: center;
}

.parte1 h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 190px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #6dd89c,  #1B2029);
}

.imagem{
    position: absolute;
    width: 35vw;
    top:7vw;
    right:-4.3em
}
